@media screen and (max-width:320px) {
  
  .nav {
    float: left;
    margin: -38% 1% 0;
  }
  
  .menu-link {
    font-size: 1em;
  }

}


@media screen and (max-width:767px) {

  
  /* MENU */
  
  .fixedratio {
    background-image: url('../images/head767.jpg');
  }
  
  .may {
    font-size: 2em;
    line-height: 1.5;
  }
  
  .title {
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 5px;
  }
  
  .subtitle {
    margin: 30px auto 0;
  }
  
  .column {
    margin: 30px auto 0;
    width: 90%;
  }
  
  .show-style1 {
    color: #9b59b6;
    text-decoration: none;
  }
  
  .show-style1:hover {
    color: #c69;
    text-decoration: none;
  }
  
  .hr {
    margin: 40px auto;
  }
  
  
  /* PORTFOLIO */
  
  .column-big1 {
    display: block;
    margin: 0 2%;
    width: 96%;
  }
  
  .port-img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .img-block-span {
    width: 100%;
  }
  
  .img-block:hover span {
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    padding: 0 2%;
  }
  
  
  /* VIEW MORE */
  
  .button2 {
    margin: 20px auto;
  }
  
  
  /* FOOTER */
  
  .footer-icons {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: inline-block;
    float: none;
    height: auto;
    margin: 10px auto;
    padding: 0 5px;
    width: 60px;
  }
  
  .icons {
    text-align: center;
  }
  
  .footer-list {
    margin-top: 0;
  }
  
  .footer-item {
    text-align: center;
  }
  
}


@media screen and (min-width:768px) and (max-width:991px) {

  
  /* MENU */
  
  .fixedratio {
    background-image: url('../images/head991.jpg');
  }
  
  .title {
    margin-top: 70px;
  }
  
  
  /* PORTFOLIO */
  
  .column-big1 {
    display: inline-block;
    margin: 0 2%;
    width: 45%;
  }
  
  .port-img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .img-block span {
    width: 100%;
  }
  
  
  /* VIEW MORE */
  
  .button2 {
    margin: 30px auto;
  }
  
}


@media screen and (min-width:992px) and (max-width:1199px) {
  
  
  /* PORTFOLIO */
  
  .port-img {
    display: block;
    height: auto;
    width: 100%;
  }
  
  .img-block span {
    width: 100%;
  }
  
}


@media screen and (min-width: 1200px) {

  .column {
    margin: 0 5px;
  }
  
}
