/* CLEARFIX */

.clearfix::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}


/* HEADER */

.header {
  margin: 0 auto;
  max-width: 1200px;
}

.fixedratio {
  background-color: #e8c9c7;
  background-image: url('../images/head.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 41.58%;
  position: relative;
  z-index: 1;
}

.nav {
  float: right;
  margin: -38% 8% 0;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  color: #fff;
  display: inline-block;
  font-family: 'Futura', 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.313em;
  font-style: normal;
  font-stretch: ultra-condensed;
  font-weight: normal;
  letter-spacing: .188em;
  line-height: 1.313em;
  padding-right: 20px;
  text-transform: uppercase;
}

.menu-link:hover {
  color: #9b59b6;
  text-decoration: none;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.may {
  font-family: 'Rokkitt', Arial, serif;
  font-size: 3.75em;
  font-style: normal;
  font-weight: normal;
  line-height: .5;
  margin-top: -22%;
  padding: 0;
  text-align: center;
  text-transform: none;
}

.may-link {
  color: #fff;
  text-transform: none;
}

.may-link:hover {
  color: #9b59b6;
  text-decoration: none;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.white-line {
  margin: 20px auto;
  width: 50%;
}

.with-love {
  color: #fff;
  font-family: 'Quicksand', Geneva, sans-serif;
  font-size: 1.563em;
  font-style: normal;
  font-weight: normal;
  line-height: .5;
  padding: 0;
  text-align: center;
}


/* GO AHEAD */

.purple-button {
  background-color: #a56abd;
  background-color: rgba(155, 89, 182, .9);
  border-radius: 2px;
  color: #fff;
  display: block;
  font-family: 'Rokkitt', Arial, serif;
  font-size: 1.75em;
  font-style: normal;
  font-weight: normal;
  height: 50px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}

.purple-button:hover {
  background-color: #d175a3;
  background-color: rgba(204, 102, 153, .9);
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.button1 {
  margin: -35px auto 0;
  position: relative;
  width: 200px;
  z-index: 3;
}

.title {
  color: #9b59b6;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 2.438em;
  font-weight: bold;
  margin-top: 100px;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
}

.text {
  color: #95a5a6;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;
}

.column-container {
  display: block;
  margin: 50px 0 0;
  width: 100%;
}

.column-big {
  color: #95a5a6;
  display: inline-block;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.063em;
  line-height: 1.8;
  margin: 0 3%;
  text-align: center;
  vertical-align: top;
  width: 26%;
}

.column-big-p {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1em;
  text-align: justify;
}

.icon-font {
  color: #9b59b6;
  font-size: 2.625em;
}

.subtitle {
  color: #9b59b6;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  margin-bottom: 25px;
  margin-top: 0;
  text-align: center;
}

.column {
  font-size: 1.063em;
  line-height: 1.8;
  text-align: justify;
}

.hr {
  margin: 70px auto;
}

.port-img {
  display: block;
  height: auto;
  width: 100%;
}


/* PORTFOLIO */

.portfolio-title {
  color: #9b59b6;
  font-family: 'MS Sans Serif', Geneva, sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.column-big1 {
  display: inline-block;
  margin: 0 2%;
  vertical-align: top;
  width: 20%;
}

.img-block {
  cursor: default;
  display: inline-block;
  margin-bottom: 30px;
  opacity: .9;
  padding: 0;
  position: relative;
  width: 100%;
}

.img-block .over-block {
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  -moz-transition: all .9s ease-out 1s;
  -o-transition: all .9s ease-out 1s;
  -webkit-transition: all .9s ease-out 1s;
  transition: all .9s ease-out 1s;
  z-index: 9;
}

.img-block:hover,
.over-block {
  display: block;
  opacity: 1;
}

.img-block span {
  background-color: #a56abd;
  background-color: rgba(155, 89, 182, .9);
  bottom: 0;
  display: block;
  height: 0;
  left: 0;
  line-height: 1.625em;
  overflow: hidden;
  position: absolute;
  -moz-transition: all .9s linear 1s;
  -o-transition: all .9s linear 1s;
  -webkit-transition: all .9s linear 1s;
  transition: all .9s linear 1s;
  width: 100%;
  z-index: 10;
}

.img-block:hover span {
  bottom: 0;
  color: #fff;
  font-family: 'Rokkitt', Arial, serif;
  font-size: 1.25em;
  font-style: normal;
  font-weight: normal;
  height: 1.625em;
  text-align: center;
}


/* VIEW MORE */

.button2 {
  margin: 90px auto 110px;
  width: 200px;
}


/* BUTTON UP */

.scrollup {
  bottom: 10px;
  cursor: pointer;
  display: none;
  float: right;
  opacity: .9;
  padding: 10px;
  position: fixed;
  right: 10px;
  z-index: 20;
}


/* FOOTER */

.footer {
  background-color: #9b59b6;
}

.footer-link {
  color: #fff;
  font-family: 'Rokkitt', Arial, serif;
  font-size: 1.438em;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}

.footer-link:hover {
  color: #ffeb77;
  text-decoration: none;
}

.footer-icons {
  display: block;
  float: right;
  height: auto;
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  width: 40px;
}

.footer-left {
  bottom: 20px;
  float: left;
  left: 10px;
  position: absolute;
}

.footer-list {
  bottom: 10px;
  list-style-type: none;
  margin-top: 100px;
  padding: 10px;
}

.footer-item {
  line-height: 1.5;
  text-align: right;
  vertical-align: middle;
}
