@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

h1 {
  @include raleway-bold;
  font-size: 2.625rem;
  text-transform: capitalize;
}

h2 {
  @include raleway-bold;
  font-size: 1.75rem;
  line-height: 1.32;
  text-transform: uppercase;
}

button {
  @include opensans-semibold;
  border-radius: 3px;
  font-size: 1.25rem;
  text-transform: capitalize;
}

iframe {
  background-color: $iframe-background;
}

blockquote {
  @include opensans-regular;
  display: block;
  font-size: 1.125rem;
  line-height: 2;
  padding: 0 65px;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  max-width: 938px;
  position: relative;
}

blockquote:before {
  color: $quotes;
  content: '\201c';
  font-family: Georgia, serif;
  font-size: 9.375rem;
  line-height: .24;
  left: 0;
  position: absolute;
  top: 30px;
}

blockquote:after {
  bottom: -30px;
  color: $quotes;
  content: '\201d';
  font-family: Georgia, serif;
  font-size: 9.375rem;
  line-height: .24;
  right: 0;
  position: absolute;
}

form {
  @media (min-width: 640px) {
    margin: 0 auto;
    width: 570px;
  }
}

::-webkit-input-placeholder {
  color: $placeholder;
    text-transform: capitalize;

}

::-moz-placeholder {
  color: $placeholder;
    text-transform: capitalize;

}

:-moz-placeholder {
  color: $placeholder;
    text-transform: capitalize;

}

:-ms-input-placeholder {
  color: $placeholder;
    text-transform: capitalize;

}

input,
textarea {
  border-width: 0;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding-left: 20px;
  vertical-align: middle;
  @media (min-width: 640px) {
    width: 270px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  @include opensans-regular;
  background-color: $white;
  border-radius: 3px;
  color: $input;
  font-size: 1rem;
}

textarea {
  padding: 20px;
  height: 179px;
  width: 100%;
}

input[type="submit"] {
  @include opensans-regular;
  background-color: $video-background;
  border-radius: 3px;
  color: $white;
  font-size: 1.375rem;
  line-height: 50px;
  vertical-align: middle;
  text-transform: uppercase;
  height: 50px;
  width: 170px;
}