@import "_fonts.scss";
@import "_variables.scss";
@import "_mixins.scss";
a {
  text-decoration: none;
}

h1 {
  @include raleway-bold;
  font-size: 2.625rem;
  text-transform: capitalize;
}

h2 {
  @include raleway-bold;
  font-size: 1.75rem;
  text-transform: uppercase;
}


button {
  @include opensans-semibold;
  border-radius: 3px;
  font-size: 1.25rem;
  text-transform: capitalize;
}

iframe {
  background-color: $iframe-background;
}

blockquote {
  @include opensans-regular;
  display: block;
  font-size: 1.125rem;
  line-height: 2;
  padding: 0 65px;
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  max-width: 938px;
  position: relative;
}

blockquote:before {
  color: $quotes;
  content: '\201c';
  font-family: Georgia, serif;
  font-size: 9.375rem;
  line-height: .24;
  left: 0;
  position: absolute;
  top: 30px;
}

blockquote:after {
  bottom: -30px;
  color: $quotes;
  content: '\201d';
  font-family: Georgia, serif;
  font-size: 9.375rem;
  line-height: .24;
  right: 0;
  position: absolute;
}

input[type="text"],
input[type="email"] {
  @include opensans-regular;
  font-size: 1rem;
}

input[type="submit"] {
  @include opensans-regular;
  border-radius: 3px;
  font-size: 1.375rem;
  text-transform: uppercase;
}

textarea {
  @include opensans-regular;
  font-size: 1rem;
}