@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Regular.eot');
	src: url('Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Regular.woff2') format('woff2'),
		url('Raleway-Regular.woff') format('woff'),
		url('Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-Bold.eot');
	src: url('Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-Bold.woff2') format('woff2'),
		url('Raleway-Bold.woff') format('woff'),
		url('Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('Raleway-SemiBold.eot');
	src: url('Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('Raleway-SemiBold.woff2') format('woff2'),
		url('Raleway-SemiBold.woff') format('woff'),
		url('Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans.eot');
	src: url('OpenSans.eot?#iefix') format('embedded-opentype'),
		url('OpenSans.woff2') format('woff2'),
		url('OpenSans.woff') format('woff'),
		url('OpenSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Semibold.eot');
	src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Semibold.woff2') format('woff2'),
		url('OpenSans-Semibold.woff') format('woff'),
		url('OpenSans-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Bold.eot');
	src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('OpenSans-Bold.woff2') format('woff2'),
		url('OpenSans-Bold.woff') format('woff'),
		url('OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('HelveticaNeue-BoldItalic.eot');
	src: url('HelveticaNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeue-BoldItalic.woff2') format('woff2'),
		url('HelveticaNeue-BoldItalic.woff') format('woff'),
		url('HelveticaNeue-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


