$iframe-background: #ccc;
$quotes: #efefef;
$logo-color: #1ab798;
$white: #fff;
$black: #000;
$nav-link: #282528;
$header-background: #373d3f;
$gray-text: #282528;
$gray-title: #222;
$green-icon-backrground: #68e2ca;
$video-background: #31d4e7;