$white: #fff;
$black: #000;
$gray: #626262;
$gray-text: #959595;
$dark-accent: #001738;
$light-accent: #26fcb6;
$ligth-accent-hover: #00faa8;
$background: #ebebeb;
$shadow: #333;
$dark-shadow: rgba(0, 0, 0, .8);