@import "./core/_core.scss";
.wrapper {
  background-color: $wrapper;
}

.container {
  width: 100%;
  padding: 15px;
  background-color: $white;
  @media (min-width: 800px) {
    width: 800px;
    margin: 0 auto;
    padding: 70px;
  }
}

.header {
  padding-bottom: 20px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.no-markers {
  list-style-type: none;
  padding: 0;
}

.bold {
  @include opensans-bold;
}

.italic {
  @include opensans-italic;
}

// Collapse classes
.closed {
  color: $h2;
}

.open {
  color: $border;
}

.collapse-content {
  color: $text;
}

.hidden {
  display: none;
}

.flex-li {
  @media (min-width: 480px) {
    display: flex;
  }
}

.date {
  flex-basis: 200px;
  background-color: hotpink;
}

.green {
  background-color: greenyellow;
}

