@import "../core/_core.scss";
.about {
  color: $white;
  &__link {
    &:hover {
      @include transition;
      color: $light-accent;
    }
  }
}

.centered-title {
  font-family: 'Lato Light';
  font-size: 2.5rem;
  font-weight: 300;
  font-style: normal;
  text-transform: capitalize;
}