@import "../core/_core.scss";
.nav {
  position: fixed;
  z-index: 10;
  background-color: $white;
  &__list {}
  &__item {}
  &__link {
    font-family: 'Open Sans Regular';
    font-size: .875rem;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: $dark-accent;
    &:hover {
      @include transition;
      color: $light-accent;
    }
    &_active {
      color: $light-accent;
    }
  }
}

.logo {
  &:hover {
    @include transition;
    filter: brightness(.8);
  }
  &__big {
    font-size: 2.563rem;
    font-family: 'Lato Black';
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    &_dark {
      color: $dark-accent;
    }
    &_light {
      color: $light-accent;
    }
  }
  &__small {
    font-family: 'Lato Light';
    font-size: 1.25rem;
    font-weight: 300;
    font-style: normal;
    color: $gray;
  }
}