@import "core/_core.scss";
* {
  @include transition;
}

.button__download:hover {
  background-color: $button-hover;
}

.icon-circle:hover {
  background-color: $system-hover;
}

.facebook-circle:hover {
  background-color: $facebook-hover;
}

.twitter-circle:hover {
  background-color: $twitter-hover;
}

.google-circle:hover {
  background-color: $google-hover;
}

input:focus,
textarea:focus {
  outline-width: 0;
}

input[type="submit"]:hover {
  background-color: $submit-hover;
}

.logo:hover {
  color: $logo-color-hover;
}

.menu__link:hover,
.menu__link:active {
  color: $nav-link-hover;
}

.figure__title__link:hover {
  color: $team-text-hover;
}

.footer__link:hover {
  color: $footer-hover;
}