<section class="hire-me wrapper wrapper__gray" id="hire-me">
  <h2 class="centered-title hire-me__title">Hire me</h2>
  <p>If you are interested in work with me, please, don't be shy to write or call. I will answer asap.</p>
  <h3 class="hire-me__subtitle">Phone number</h3>
  <p class="hire-me__contact">+38 (096)777-29-20</p>
  <h3 class="hire-me__subtitle">Email</h3>
  <p class="hire-me__contact">goroshanska@gmail.com</p>
  <h3 class="hire-me__subtitle">Skype</h3>
  <p class="hire-me__contact">larisa_goroshanska</p>

  <ul class="icon__list">
    <li class="icon__item">
      <a href="https://www.facebook.com/goroshanska" class="icon__link" target="_blank">
        <svg class="icon">
          <use xlink:href="./i/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="icon__item">
      <a href="https://www.linkedin.com/in/larysa-goroshanska/" class="icon__link" target="_blank">
        <svg class="icon">
          <use xlink:href="./i/sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="icon__item">
      <a href="https://github.com/hloe" class="icon__link" target="_blank">
        <svg class="icon">
          <use xlink:href="./i/sprite.svg#github"></use>
        </svg>
      </a>
    </li>
    <li class="icon__item">
      <a href="https://www.upwork.com/freelancers/~0115a1a0cb29dcc236" class="icon__link" target="_blank">
        <svg class="icon">
          <use xlink:href="./i/sprite.svg#upwork"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>