<nav class="nav">
  <h1>
     <a href="http://finecoding.net/" class="logo"><span class="logo__big logo__big_dark">fine</span><span class="logo__big logo__big_light">coding</span><span class="logo__small">.net</span></a>
  </h1>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#home" class="nav__link">home</a>
    </li>
    <li class="nav__item">
      <a href="#works" class="nav__link">portfolio</a>
    </li>
    <li class="nav__item">
      <a href="#about" class="nav__link">about</a>
    </li>
    <li class="nav__item">
      <a href="#hire-me" class="nav__link">hire me</a>
    </li>
  </ul>
</nav>