<section class="features">
  <div class="container">

    <a id="features"></a>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2 class="features__title title_green">key features</h2>
        <p class="features__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
      </div>
    </div>

    <div class="features__content">
      <div class="row">
        <div class="features__content__item">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="features__content__item_text">
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
            </div>
          </div>
        </div>
        <div class="features__content__item">
          <div class="hidden-xs hidden-sm hidden-md col-lg-4">
            <picture>
              <source srcset="images/screen.png 1x, images/screen@2x.png 2x">
              <img src="images/screen.png" alt="smartphone" class="features__img">
            </picture>
          </div>
        </div>
        <div class="features__content__item">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="features__content__item_text">
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
              <article class="features-article">
                <i class="features-article__icon"></i>
                <h3 class="features-article__title">Amet varius</h3>
                <p class="features-article__text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus diam a iaculis malesuada</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>