  @import "../core/_core.scss";
  svg,
  use {
    display: block;
  }
  
  .features-article {
    @include clearfix;
    margin: 0 auto 50px;
    padding-left: 13px;
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      margin: 0 auto 100px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    &__icon {
      display: block;
      margin: 0 auto 10px;
      vertical-align: top;
      @media (min-width: 768px) {
        float: left;
        margin-bottom: 0;
        margin-right: 41px;
      }
    }
    &__body {
      display: block;
      margin: 0 auto;
      padding-top: 5px;
      flex-grow: 1;
      text-align: center;
      @media (min-width: 768px) {
        float: left;
        text-align: left;
      }
    }
    &__title {
      margin-bottom: 12px;
      @include raleway-bold;
      font-size: 1.125rem;
      line-height: 1;
      color: $gray-text;

    }
    &__text {
      @include opensans-regular;
      font-size: .813rem;
      line-height: 1.9;
      vertical-align: middle;
      white-space: pre-wrap;
      @media (min-width: 768px) {
        max-width: 245px;
      }
    }
    &__img {
      height: auto;
      width: 100%;
      margin: 0 auto;
    }
  }
  
  .say-article {
    &__img {
      height: 100px;
      width: 100px;
    }
    &__author {
      margin-top: 20px;

      @include opensans-semibold;
      font-size: 1.125rem;
      line-height: 1.5;
      color: $team-text;

    }
    &__from {
      @include opensans-regular;
      color: $company;
      font-size: .813rem;
      line-height: 1;
    }
    &__quote {
      margin-top: 101px;
    }
  }