@import "../core/_core.scss";
.features-article {
  @include clearfix;
  display: flex;
  padding-left: 80px;
  width: 325px;
  &__icon {
    background-color: $green-icon-backrground;
    display: block;
    float: left;
    height: 40px;
    margin-right: 42px;
    width: 40px;
  }
  &__body {
    float: right;
    flex-grow: 1;
    margin-bottom: 105px;
  }
  &__title {
    margin-bottom: 12px;
    vertical-align: middle;
  }
  &__text {
    @include opensans-regular;
    font-size: .813rem;
    line-height: 1.846;
    vertical-align: middle;
    width: 250px;
    white-space: pre-wrap;
  }
  &__img {
    display: block;
    height: 726px;
    margin: 0 auto;
    width: 418px;
  }
}