@import "../core/_core.scss";
.icon {
  background-color: #0098cd;
  display: inline-block;
  border-radius: 50%;
  height: 69px;
  margin-right: 16px;
  margin-top: 20px;
  width: 69px;
  &:last-of-type {
    margin-right: 0;
  }
}

.icon-apple,
.icon-android,
.icon-windows {
  display: block;
    margin: 0 auto;
  padding-top: 16px;
}

.icon-apple {
  height: 10px;
  width: 10px;
  //  height: 33px;
  //  width: 30px;
}

.icon-android {
  height: 35px;
  width: 30px;
}

.icon-windows {
  height: 35px;
  width: 35px;
}