@import "../core/_core.scss";
.title_green {
  color: $logo-color;
  line-height: 1.286;
  text-align: center;
  &:after {
    @include retina('../images/title_line_dark.png', 3, 160px 18px, top center no-repeat);
    content: '';
    display: block;
    height: 18px;
    margin: 0 auto;
    width: 160px;
  }
}

.title_gray {
  color: $gray-title;
  @media (min-width: 768px) {
    line-height: .643;
  }
}