@import "../core/_core.scss";
* {
  box-sizing: border-box;
}

.user-card {
  display: block;
  margin: 0 auto;
  z-index: 3;
  width: 270px;
  &__title {
    margin-bottom: 36px;
  }
  &__text {
    @include opensans-semibold;
    font-size: 1rem;
    line-height: 1.5;
    color: $team-text;
    opacity: .8;
  }
}

.figure {
  display: block;
  margin: 0 auto;
  position: relative;
  @media (min-width: 768px) {
    margin: 0 auto 79px;
  }
  &__img {
    height: 300px;
    width: 270px;
  }
  &__title {
    @include opensans-semibold;
    line-height: 1.333;
    margin-bottom: 5px;
    margin-top: 11px;
    font-size: 1.125rem;
    &__link {
      color: $team-text;
    }
  }
  &__text {
    @include opensans-regular;
    font-size: .813rem;
    line-height: 1.846;
    margin-bottom: 50px;
    &__link {
      color: $alternative-gray;
      color: $team-text;
      opacity: .56;
    }
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.hover {
    display: none;
  background-color: $aqua-background;
  background-color: $aqua-background-transparent;
  color: $white;
  font-size: 1rem;
  line-height: 1.5;
  height: 300px;
  width: 270px;
  padding: 18px 23px 0;
  position: absolute;
  top: 0;
  z-index: 4;
  &__title {
    @include opensans-semibold;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 8px;
  }
  &__text {
    @include opensans-regular;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 105px;
    opacity: .8;
  }
  &__icons {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10px;
    position: absolute;
    @media (min-width: 320px) {
      bottom: 22px;
    }
  }
}