<section class="menu">
  <ul>
    <li><a href="">delivery</a></li>
    <li><a href="">faq</a></li>
    <li><a href="">help</a></li>
  </ul>

  <form action="#">
    <select name="" id="">
      <option value="dollars">dollars</option>
      <option value="euros">euros</option>
    </select>
    <select name="" id="">
      <option value="en">en</option>
      <option value="de">de</option>
      <option value="fr">fr</option>
      <option value="es">es</option>
    </select>
  </form>
</section>